



div.example-content
{
    margin: 30px 50px;
}

div.example-nav
{
    margin-bottom: 30px;
}

pre.code-block
{
    background: #D8F4DC;
    /*  border: 1px solid rgb(200, 200, 200);
    padding-top: 1em;
    padding-left: 3em;
    padding-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 3em;*/
}

pre.code
{
    /*    background: #D8F4DC;*/
    /*  border: 1px solid rgb(200, 200, 200);
    padding-top: 1em;
    padding-left: 3em;
    padding-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 4em;*/
}

div.include
{
    margin-bottom: 2em;
}


.jqplot-image-button
{
    margin-bottom: 15px;
    margin-top: 15px;
}

div.jqplot-image-container
{
    position: relative;
    z-index: 11;
    margin: auto;
    display: none;
    background-color: #ffffff;
    border: 1px solid #999;
    display: inline-block;
    margin-top: 25px;
}

div.jqplot-image-container-header
{
    font-size: 1.0em;
    font-weight: bold;
    /*padding: 5px 15px;*/
    background-color: #eee;
}

div.jqplot-image-container-content
{
    /* padding: 15px;*/
    background-color: #ffffff;
}

a.jqplot-image-container-close
{
    float: right;
}

div.example-plot
{
    width: 500px;
    height: 300px;
}

.jqplot-table-legend-label
{
    white-space: nowrap;
}

div.syntaxhighlighter
{
    margin-top: 4em !important;
    margin-bottom: 3em !important;
}

.showbox
{
    float: left;
    margin: 4em 1em;
    width: 250px;
    height: 250px;
    border: 2px solid green;
    background-color: #fff;
    line-height: 60px;
    text-align: center;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
}
.slideright:hover
{
    -webkit-transform: translate(3em,0);
    -moz-transform: translate(3em,0);
    -o-transform: translate(3em,0);
    -ms-transform: translate(3em,0);
    transform: translate(3em,0);
}



.DivCaseActionBlockActive
{
  

     -webkit-transform: translate(3em,0);
    -moz-transform: translate(3em,0);
    -o-transform: translate(3em,0);
    -ms-transform: translate(3em,0);
    transform: translate(3em,0);
    -webkit-transform: scale(1.8);
    -moz-transform: scale(1.8); 
    -ms-transform: scale(1.8);
    position: absolute;
    top: 25%;
    left: 20%;
    margin-top: -50px;
    margin-left: -50px;
    
}


#DivCaseActionBlock
{
   
    -webkit-transition: 5s ease-in-out;
    -moz-transition: 5s ease-in-out;
    -o-transition: 5s ease-in-out;
    transition: 3s ease-in-out;
    /*transition-delay:1s;*/
}

#DivWmaBlock
{
   
    -webkit-transition: 5s ease-in-out;
    -moz-transition: 5s ease-in-out;
    -o-transition: 5s ease-in-out;
    transition: 3s ease-in-out; 
    /*transition-delay:3s;*/
}

#DivStatusBlock
{
   
    -webkit-transition: 5s ease-in-out;
    -moz-transition: 5s ease-in-out;
    -o-transition: 5s ease-in-out;
    transition: 3s ease-in-out;
    /*transition-delay:5s;*/
}

#DivLastKnownLocation
{
   
    -webkit-transition: 5s ease-in-out;
    -moz-transition: 5s ease-in-out;
    -o-transition: 5s ease-in-out;
    transition: 3s ease-in-out;
    /*transition-delay:7s;*/
}

#DivRanking
{
   
    -webkit-transition: 5s ease-in-out;
    -moz-transition: 5s ease-in-out;
    -o-transition: 5s ease-in-out;
    transition: 3s ease-in-out;
    /*transition-delay:7s;*/
}

.DivLastKnownLocationActive
{
     -webkit-transform: translate(3em,0);
    -moz-transform: translate(3em,0);
    -o-transform: translate(3em,0);
    -ms-transform: translate(3em,0);
    transform: translate(3em,0);
    -webkit-transform: scale(1.8);
    -moz-transform: scale(1.8); 
    -ms-transform: scale(1.8);
    position: absolute;
    top: 30%;
    left: 20%;
    margin-top: -50px;
    margin-left: -50px;
    
}

.DivRankingActive
{
  

     -webkit-transform: translate(3em,0);
    -moz-transform: translate(3em,0);
    -o-transform: translate(3em,0);
    -ms-transform: translate(3em,0);
    transform: translate(3em,0);
    -webkit-transform: scale(1.8);
    -moz-transform: scale(1.8); 
    -ms-transform: scale(1.8);
    position: absolute;
    top: 30%;
    left: 20%;
    margin-top: -50px;
    margin-left: -50px;
    
}



.DivStatusBlockActive
{
  

     -webkit-transform: translate(3em,0);
    -moz-transform: translate(3em,0);
    -o-transform: translate(3em,0);
    -ms-transform: translate(3em,0);
    transform: translate(3em,0);
    -webkit-transform: scale(1.8);
    -moz-transform: scale(1.8);
    -ms-transform: scale(1.8); 
    position: absolute;
    top: 25%;
    left: 20%;
    margin-top: -50px;
    margin-left: -50px;
    
}

.DivWmaBlockActive
{
    
    /*transition-duration:2s;*/
     -webkit-transform: translate(3em,0);
    -moz-transform: translate(3em,0);
    -o-transform: translate(3em,0);
    -ms-transform: translate(3em,0);
    transform: translate(3em,0);
    -webkit-transform: scale(1.8);
    -moz-transform: scale(1.8);
    -ms-transform: scale(1.8); 
    position: absolute;
    top: 25%;
    left: 20%;
    margin-top: -50px;
    margin-left: -50px;
    
}

.greenButton
{
    -moz-box-shadow: inset 0px 1px 0px 0px #9acc85;
    -webkit-box-shadow: inset 0px 1px 0px 0px #9acc85;
    box-shadow: inset 0px 1px 0px 0px #9acc85;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
    background: -moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background: -webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background: -o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background: -ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background: linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
    background-color: #74ad5a;
    border: 1px solid #3b6e22;
    display: inline-block;
    color: #ffffff;
    font-size: 13px;
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
}
.greenButton:hover
{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
    background: -moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background: -webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background: -o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background: -ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background: linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
    background-color: #68a54b;
}
.greenButton:active
{
    position: relative;
    top: 1px;
}
 
/*On - Off Switch Css*/
    .onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }
    .onoffswitch-checkbox {
    display: none;
    }
    .onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #666666; border-radius: 30px;
    }
    .onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
    }
    .onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 25px; padding: 0; line-height: 30px;
    font-size: 16px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    border-radius: 30px;
    box-shadow: 0px 15px 0px rgba(0,0,0,0.08) inset;
    }
    .onoffswitch-inner:before {
    content: "ON";
    padding-left: 15px;
    background-color: #6BB2ED; color: #FFFFFF;
        
    border-radius: 30px 0 0 30px;
    }
    .onoffswitch-inner:after {
    content: "OFF";
    padding-right: 15px;
    background-color: #FFFFFF; color: #666666;
    text-align: right;
    border-radius: 0 30px 30px 0;
    }
    .onoffswitch-switch {
    width: 30px; margin: 0px 0px 0px;
    height:26px;
    background: #FFFFFF;
    border: 2px solid #666666; border-radius: 30px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%);
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%);
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%);
    background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%);
    box-shadow: 0 1px 1px white inset;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
    }
            
/**/
