/* Global Styles */

/* ------------------------------- */

body
{
    /* padding-top: 100px;*/
    background-color: #EACEE6;
}

@media(min-width:768px)
{
    body;

{
    padding-top: 50px;
}

}

/* Wrappers */

/* ------------------------------- */

#wrapper
{
    width: 100%;
}

#page-wrapper
{
    padding: 0 15px;
    min-height: 568px;
    background-color: #EACEE6;
}

@media(min-width:768px)
{
    #page-wrapper;

{
    position: inherit;
    /* margin: 0 0 0 250px;*/
    padding: 0 30px;
    min-height: 1300px;
    border-left: 1px solid #e7e7e7;
}

}

/* Navigation */

/* ------------------------------- */

/* Top Right Navigation Dropdown Styles */

.navbar-top-links li
{
    display: inline-block;
}

    .navbar-top-links li:last-child
    {
        margin-right: 15px;
    }

    .navbar-top-links li a
    {
        padding: 15px;
        min-height: 50px;
    }

.navbar-top-links .dropdown-menu li
{
    display: block;
}

    .navbar-top-links .dropdown-menu li:last-child
    {
        margin-right: 0;
    }

    .navbar-top-links .dropdown-menu li a
    {
        padding: 3px 20px;
        min-height: 0;
    }

        .navbar-top-links .dropdown-menu li a div
        {
            white-space: normal;
        }

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts
{
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages
{
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks
{
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts
{
    margin-left: -123px;
}

.navbar-top-links .dropdown-user
{
    right: 0;
    left: auto;
}

/* Sidebar Menu Styles */

.navbar-static-side ul li
{
    border-bottom: 1px solid #e7e7e7;
}

.sidebar-search
{
    padding: 15px;
}

.arrow
{
    float: right;
}

.fa.arrow:before
{
    content: "\f104";
}

.active > a > .fa.arrow:before
{
    content: "\f107";
}

.nav-second-level li,
.nav-third-level li
{
    border-bottom: none !important;
}

    .nav-second-level li a
    {
        padding-left: 37px;
    }

    .nav-third-level li a
    {
        padding-left: 52px;
    }

/*@media(min-width:768px)
{
    .navbar-static-side;

{
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 51px;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts
{
    margin-left: auto;
}

}

@media(max-height:600px) and (max-width:767px)
{
    .sidebar-collapse;

{
    max-height: 300px;
    overflow-y: scroll;
}

}

@media(max-height:400px) and (max-width:767px)
{
    .sidebar-collapse;

{
    max-height: 200px;
    overflow-y: scroll;
}

}*/

/* Buttons */

/* ------------------------------- */

.btn-outline
{
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline
{
    color: #428bca;
}

.btn-success.btn-outline
{
    color: #5cb85c;
}

.btn-info.btn-outline
{
    color: #5bc0de;
}

.btn-warning.btn-outline
{
    color: #f0ad4e;
}

.btn-danger.btn-outline
{
    color: #d9534f;
}

    .btn-primary.btn-outline:hover,
    .btn-success.btn-outline:hover,
    .btn-info.btn-outline:hover,
    .btn-warning.btn-outline:hover,
    .btn-danger.btn-outline:hover
    {
        color: #fff;
    }

/* Pages */

/* ------------------------------- */

/* Dashboard Chat */

.chat
{
    margin: 0;
    padding: 10px;
    list-style: none;
    background: #e3e3e3;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

    .chat li
    {
        margin-bottom: 10px;
        padding: 5px 7px;
        background: #ffffff;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-bottom: 1px solid #cccccc;
    }

        .chat li:first-child
        {
            margin-bottom: 10px;
            padding: 5px 7px;
            background: #f1f1f1;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-bottom: 1px solid #cccccc;
        }


        .chat li.left .chat-body
        {
            margin-left: 60px;
        }

        .chat li.right .chat-body
        {
            margin-right: 60px;
        }

        .chat li .chat-body p
        {
            margin: 0;
            color: #777777;
        }

    .panel .slidedown .glyphicon,
    .chat .glyphicon
    {
        margin-right: 5px;
    }

.chat-panel .panel-body
{
    height: 350px;
    overflow-y: scroll;
}

/* Login Page */

.login-panel
{
    margin-top: 25%;
}

/* Flot Chart Containers */

.flot-chart
{
    display: block;
    height: 400px;
}

.flot-chart-content
{
    width: 100%;
    height: 100%;
}

/* DataTables Overrides */

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled
{
    background: transparent;
}

    table.dataTable thead .sorting_asc:after
    {
        content: "\f0de";
        float: right;
        font-family: fontawesome;
    }

    table.dataTable thead .sorting_desc:after
    {
        content: "\f0dd";
        float: right;
        font-family: fontawesome;
    }

    table.dataTable thead .sorting:after
    {
        content: "\f0dc";
        float: right;
        font-family: fontawesome;
        color: rgba(50,50,50,.5);
    }

/* Circle Buttons */

.btn-circle
{
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

    .btn-circle.btn-lg
    {
        width: 50px;
        height: 50px;
        padding: 10px 16px;
        border-radius: 25px;
        font-size: 18px;
        line-height: 1.33;
    }

    .btn-circle.btn-xl
    {
        width: 70px;
        height: 70px;
        padding: 10px 16px;
        border-radius: 35px;
        font-size: 24px;
        line-height: 1.33;
    }

.show-grid [class^="col-"]
{
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee !important;
}

.show-grid
{
    margin: 15px 0;
}

.ui-dialog-titlebar
{
    /*font-size: 110% !important;*/
    color: #FFFFFF !important;
    background: #7a4073 !important;
}

.ui-button
{
    color: #FFFFFF !important;
    background: #54224e !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.ui-dialog-title
{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.ui-dialog-content
{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.ui-widget input
{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.ui-widget select
{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#DAlertDialog p
{
    margin-bottom: 8px;
    margin-right: 10px;
    margin-top: 8px;
}

#DAddDialog p
{
    margin-bottom: 8px;
    margin-right: 10px;
    margin-top: 8px;
}

/*.navbar .navbar-inner {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    /*background: -moz-linear-gradient(center bottom , #ba87ac 0%, #5c3550 100%) repeat scroll 0 0 padding-box rgba(0, 0, 0, 0);
     background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e6e6e6), color-stop(1, #ffffff));
    background: -ms-linear-gradient(bottom, #e6e6e6, #ffffff);
    background: -moz-linear-gradient(center bottom, #e6e6e6 0%, #ffffff 100%);
    background: -o-linear-gradient(bottom, #e6e6e6, #ffffff);
    filter: progid:dximagetransform.microsoft.gradient(startColorStr='#4d5b76', EndColorStr='#6c7a95');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#e6e6e6')";
    border-color: -moz-use-text-color;
    border-image: none;
    border-radius: 0;
    border-style: none;
    border-width: 0 0 medium;
    margin: 0;
    padding: 0 1em;
}*/

.navbar .navbar-inner
{
    background: #4d5b76;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ba87ac), color-stop(1, #5c3550));
    background: -ms-linear-gradient(bottom, #ba87ac, #5c3550);
    background: -moz-linear-gradient(center bottom, #ba87ac 0%, #5c3550 100%);
    background: -o-linear-gradient(bottom, #ba87ac, #5c3550);
    filter: progid:dximagetransform.microsoft.gradient(startColorStr='#ba87ac', EndColorStr='#5c3550');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#5c3550',EndColorStr='#ba87ac')";
    padding: 0em 1em;
    margin: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0px;
    border-bottom: none;
}

.navbar .nav
{
    margin: 0 -1em 0 0;
}

    .navbar .nav > li
    {
        float: left;
        display: inline;
    }

        .navbar .nav > li > a
        {
            color: #fff;
            text-shadow: none;
        }

        .navbar .nav > li:hover
        {
            background-color: #444;
        }

        .navbar .nav > li > a:hover
        {
            color: #fff;
        }

.navbar .dropdown-menu a:hover
{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #000;
}

.navbar .nav li.dropdown.open > .dropdown-toggle
{
    background-color: #643c58;
    color: #fff;
}

.content
{
    border-left: 1px solid #999999;
    margin-left: 240px;
    min-width: 400px;
    position: relative;
}

.slide-content
{
    border-left: 1px solid #999999;
    margin-left: 0;
    min-width: 400px;
    position: relative;
}

.header
{
    background: -moz-linear-gradient(center bottom, #e6e6e6 0%, #ffffff 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    padding: 0 1.25em;
}

    .header h1
    {
        color: #333;
        font-size: 1.5em;
        line-height: 1em;
        margin: 1em 0;
        padding: 0;
    }

.icon-user:before
{
    content: "\f007";
}

.searchpanel
{
    background: url(../images/searchpanelbg.jpg) repeat-x;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    color: #ffffff;
    margin: 2% auto;
    float: left;
    padding: 0% 1%;
    width: 98%;
}

.searchpanel-cs
{
    /*background: -moz-linear-gradient(center bottom , #ba87ac 0%, #5c3550 100%) repeat scroll 0 0 padding-box rgba(0, 0, 0, 0);*/
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ba87ac), color-stop(1, #5c3550));
    background: -ms-linear-gradient(bottom, #ba87ac, #5c3550);
    background: -moz-linear-gradient(center bottom, #ba87ac 0%, #5c3550 100%);
    background: -o-linear-gradient(bottom, #ba87ac, #5c3550);
    filter: progid:dximagetransform.microsoft.gradient(startColorStr='#ba87ac', EndColorStr='#5c3550');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#5c3550',EndColorStr='#ba87ac')";
    border-radius: 0px;
    color: #ffffff;
    float: left;
    /*margin: 2% auto 0%;*/
    margin-bottom: 20px;
    padding: 2px 4px 1px 10px;
    width: 100%;
    font-weight: 600;
}

.searchpanel-cs-table
{
    /*background: -moz-linear-gradient(center bottom , #ba87ac 0%, #5c3550 100%) repeat scroll 0 0 padding-box rgba(0, 0, 0, 0);*/
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ba87ac), color-stop(1, #5c3550));
    background: -ms-linear-gradient(bottom, #ba87ac, #5c3550);
    background: -moz-linear-gradient(center bottom, #ba87ac 0%, #5c3550 100%);
    background: -o-linear-gradient(bottom, #ba87ac, #5c3550);
    filter: progid:dximagetransform.microsoft.gradient(startColorStr='#ba87ac', EndColorStr='#5c3550');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#5c3550',EndColorStr='#ba87ac')";
    border-radius: 0px;
    color: #ffffff;
    /*float: left;*/
    /*margin: 2% auto 0%;*/
    padding: .5% 1%;
    width: 70%;
    font-weight: 600;
}

.postcodesearch ul, .vrnsearch ul, .casesearch ul
{
    margin-bottom: 0;
    padding: 4px;
}

    .postcodesearch ul li, .vrnsearch ul li, .showenteries ul li, .searchlink ul li, .casesearch ul li
    {
        display: inline;
        padding: 0px 5px;
    }

        .postcodesearch ul li input[type=text], .vrnsearch ul li input[type=text], .casesearch ul li input[type=text]
        {
            border: 1px #91b1de solid;
            padding: 4px 4px 4px 4px;
            background-color: #fff;
            outline: 0;
            font-size: 100%;
            text-align: center;
            margin: 0;
            vertical-align: baseline;
            width: 25%;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

.postcodesearch
{
    float: left;
    width: 33%;
}


.vrnsearch
{
    float: left;
    width: 33%;
    text-align: right;
}

.casesearch
{
    float: left;
    width: 31%;
    margin-left: 3%;
}

.searchresult-panel
{
    margin: 2% auto;
    float: left;
    padding: 0%;
    width: 100%;
    font-size: 1.064em;
}


.Demo tbody tr td
{
    /*background-color: #d8a5d2;*/
    color: Black;
    cursor: pointer;
    display: table-cell;
    font-family: "Gill Sans MT",Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 12px;
    padding: 5px;
    width: 12.5% !important;
    text-align: center;
}


.Demo thead
{
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ba87ac), color-stop(1, #5c3550));
    background: -ms-linear-gradient(bottom, #ba87ac, #5c3550);
    background: -moz-linear-gradient(center bottom, #ba87ac 0%, #5c3550 100%);
    background: -o-linear-gradient(bottom, #ba87ac, #5c3550);
    filter: progid:dximagetransform.microsoft.gradient(startColorStr='#ba87ac', EndColorStr='#5c3550');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#5c3550',EndColorStr='#ba87ac')";
    border-radius: 5px;
    text-align: center;
}

.gridrow-head
{
    border-radius: 10px;
}

    .gridrow-head td
    {
        color: #ffffff;
        font-size: 12px;
        font-weight: 600;
        padding: 5px;
        /*width: 8.333% !important;*/
    }

.alt-row td
{
    background-color: #eacee6 !important;
}

.Demo
{
    border: 1px solid #5f3753;
    border-radius: 5px !important;
    margin-bottom: 20px;
}

.navbar .nav > li > a:hover
{
    background-color: #643C58;
    color: #fff;
    text-decoration: none;
}

.navbar.navbar-default
{
    /*margin-bottom: 20px;*/
}

.FindAppUser tr td
{
    padding: 3px 3px 3px 3px;
    font-size: 12px;
    font-weight: 600;
}

.btn-Admin
{
    /*color: #fff;*/
    background-color: #A07193;
    border-color: #8C5E80;
    padding: 3px 3px 3px 3px;
    background-clip: padding-box;
    /*background-color: #fff;*/
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ba87ac), color-stop(1, #5c3550));
    background: -ms-linear-gradient(bottom, #ba87ac, #5c3550);
    background: -moz-linear-gradient(center bottom, #ba87ac 0%, #5c3550 100%);
    background: -o-linear-gradient(bottom, #ba87ac, #5c3550);
    filter: progid:dximagetransform.microsoft.gradient(startColorStr='#ba87ac', EndColorStr='#5c3550');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#5c3550',EndColorStr='#ba87ac')";
    /*margin: 2% auto 0%;*/
    padding: 5px 10px;
}

.pRecords
{
    margin: 20px 0px;
    font-size: 12px;
    font-weight: 600;
}

.searchpanel-cs p.pull-left
{
    margin-bottom: 0;
    margin-top: 7px;
}


.tdofficer.sorting_disabled
{
    border-left: medium none;
    width: 94px !important;
}

.tdoffname.sorting_disabled
{
    width: 208px !important;
}

.tdmanagername.sorting_disabled
{
    width: 207px !important;
}

.tdregdate.sorting_disabled
{
    width: 112px !important;
}

.tdnote.sorting_disabled
{
    width: 208px !important;
}

.tdemail.sorting_disabled
{
    width: 208px !important;
}

.tdmobile.sorting_disabled
{
    width: 139px !important;
}

.tdaction.sorting_disabled
{
    border-right: medium none;
    width: 96px !important;
}
